<h4>
  Hey, <%= @user.name %>
</h4>
<p>
  You've requested to reset password for your Blog SignUp.
</p>
<p>
  Please click the link below to reset your password.
</p>
<p>
  <%= link_to "Edit Password", edit_password_url(@user, reset_password_token: @user.reset_password_token) %>
  Link will expire in 2 hours.
</p>
