  <%= form_with model:[ @post, @post.comments.build ], local: false do |form| %>
    <p>
      <%= form.text_field :body, class:"comment-text form-control",placeholder:"Add comment" %>
    </p>
    <p>
      <%= form.submit 'Submit',class:"comment-button" %>
    </p>
  <% end %>