<div class="edit-page-top">
<h1 class="show-head">Keep Hustling...</h1>
<h1 class="new-head2">Edit your blog</h1>
</div>

<br>

	<div class="blog-create">
	    <%= render "form", post: @post %> 
	</div>

</section>