<div class="new-page-top">
<h1 class="new-head">Post your passion, your way</h1>
<h3 class="new-head2"> Create a unique and beautiful Blog </h3>
</div>
<br>

<section id="scroll">
	<div class="container">
        <div class="col-lg-6 order-lg-1">
            <div class="p-5">
               <%= render partial: "form1", locals: { post: @post } %>
            </div>
        </div>
	</div>
</section>
               <%= render partial: "form"%>

<br>
<br>